body {
    background:#eaf3fb;
    font-family:'Sarabun', sans-serif;
    margin:0;
    padding:20px;
}

.wrapper {
    max-width:1100px;
    margin:auto;
    display:grid;
    grid-template-columns:360px 1fr;
    gap:20px;
}

/* ===== FORM ===== */
.form {
    background:#fff;
    padding:18px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.form h3 {
    text-align:center;
    margin-top:0;
    color:#1976d2;
}

.form label {
    font-size:14px;
    margin-top:8px;
    display:block;
}

.form input {
    width:100%;
    padding:7px;
    font-size:14px;
    border-radius:10px;
    border:1px solid #ccc;
}

.form hr {
    margin:15px 0;
    border:none;
    border-top:1px dashed #ccc;
}

.form button {
    margin-top:12px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:14px;
    background:#008cff;
    color:white;
    font-size:16px;
    cursor:pointer;
}

/* ===== INVOICE ===== */
.invoice {
    width: 777px;
    height: 513px;
    border: 1px solid #0000008c;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    background: #fff;
}

.bill-title {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.bill-subtitle {
    text-align: center;
    margin-bottom: 6px;
}

.top-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 6px;
}

.top-table td {
    border: 1px solid #0000006b;
    text-align: center;
    padding: 4px;
    font-weight: 600;
}

.bill-table {
    width: 100%;
    border-collapse: collapse;
}

.bill-table th,
.bill-table td {
    border: 1px solid #00000085;
    padding: 4px;
    vertical-align: top;
    line-height: 1.25;
}

.bill-table th {
    text-align: center;
}

.c { text-align: center; }
.r { text-align: right; }

.bill-note {
    margin-top: 6px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    white-space: pre;
}

.bill-bank {
    margin-top: 6px;
    font-size: 13px;
    text-align: center;
}

/* download */
.download {
    text-align:center;
    margin-top:20px;
}

.download button {
    padding:14px 36px;
    font-size:18px;
    border-radius:18px;
    border:none;
    background:#008cff;
    color:white;
    cursor:pointer;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

    body {
        padding: 10px;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    /* ฟอร์ม */
    .form {
        border-radius: 16px;
        margin-bottom: 20px;
    }

    .form input,
    .form button {
        font-size: 16px; /* กันซูมอัตโนมัติ iOS */
        padding: 12px;
    }

    /* บิล */
    .invoice {
        margin: auto;
        transform: scale(0.9);   /* ย่อให้พอดีจอ */
        transform-origin: top center;
    }
}

